<h1>Listing Questions</h1>
<% if @questions.blank? %>
    Test is empty!
<% else %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Content</th>
        <th>Type</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @questions.each do |question| %>
          <tr>
            <td><%= question.content %></td>
            <td><%= question.type %></td>
            <td><%= link_to 'Show', test_question_path(:id => question.id) %></td>
            <td><%= link_to 'Edit', test_question_url(:id => question.id) %></td>
            <td><%= link_to 'Destroy', test_question_path(:id => question.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      <p></p>
      </tbody>
    </table>
<% end %>
<br>

<%= link_to 'New Question', new_test_question_url
%>
