<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Listing Questions</h1>
    <% if @questions.blank? %>
        Test is empty!
    <% else %>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Content</th>
          <th>Type</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.content %></td>
            <td><%= question.type %></td>
            <td><%= link_to 'Add detail', new_question_question_detail_url(:question_id => question.id) %></td>
            <td><%= link_to 'Show', question_question_details_path(question) %></td>
            <td><%= link_to 'Edit', edit_question_url(:id => question.id) %></td>
            <td><%= link_to 'Destroy', question_path(:id => question.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
        <p></p>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= link_to 'New Question', new_question_url, class: 'btn btn-block btn-lg btn-success' %>
  </div>
</div>




