<%= form_for [@test,@test_question], :html => {class:"form-horizontal", id:"add"}  do |f| %>
  <% if @test_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_question.errors.count, "error") %> prohibited this test_question from being saved:</h2>

      <ul>
      <% @test_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :test_id, class: 'control-label' %><br>
    <%= f.number_field :test_id, class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :sort %><br>
    <%= f.number_field :sort %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="form-group">
  <label for="" class="col-sm-2 control-label"></label>

  <div class="col-sm-10">
    <input type="text" class="form-control" id="" placeholder="">
  </div>
</div>
