<p id="notice"><%= notice %></p>

<p>
  <strong>Test:</strong>
  <%= @test_question.test_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @test_question.question_id %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @test_question.sort %>
</p>

<%= link_to 'Edit', edit_test_question_path(@test_question) %> |
<%= link_to 'Back', test_questions_path %>
