<div class="row">
  <h1>Listing Tests</h1>

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= link_to 'New Test', new_test_path, class: 'btn btn-block btn-lg btn-success' %>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= link_to 'New questions', new_question_path, class: 'btn btn-block btn-lg btn-success' %>
  </div>
</div>
<div class="row list-tests">
<% if @tests.blank? %>
  <div class="alert alert-warning">
    <strong>Test is empty!</strong>
  </div>
<% else %>
  <table class="table table-bordered table-hover table-responsive">
    <thead>
    <tr>
      <th>User create</th>
      <th>Name</th>
      <th>Descripetion</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.user.email %></td>
        <td><%= test.name %></td>
        <td><%= test.descripetion %></td>
        <td><%= link_to 'Show Question', test %></td>
        <td><%= link_to 'Edit', edit_test_path(test) %></td>
        <td><%= link_to 'Destroy', test, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
</div>


