<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @test.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Descripetion:</strong>
  <%= @test.descripetion %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
