<section class="row" xmlns="http://www.w3.org/1999/html">
  <header>
    <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
      <strong>Name:</strong>
      <%= @test.name %>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
      <strong>Descripetion:</strong>

      <p><%= @test.descripetion %></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= link_to 'Edit', edit_test_path(@test), class: 'btn-lg btn-primary fui-new' %>
    </div>
  </header>

  <article>
    <div class="list-test-question col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <% if @test_questions.blank? %>
          <span class="label label-warning">No questions selected</span>
      <% else %>
          <table class="table table-condensed table-hover">
            <thead>
            <tr>
              <th>Sort</th>
              <th>Content question</th>
              <th>Question type</th>
            </tr>
            </thead>
            <tbody>
            <% @test_questions.each do |test_question| %>
                <tr>
                  <td><%= test_question.sort %></td>
                  <td><%= test_question.content %></td>
                  <td><%= test_question.type %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
      <button id="add-questions" type="button" class="btn btn-primary">
        Add questions
      </button>

    </div>
    <div class="list-user-assign col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h4>User assign</h4>
      <ul class="list-user">
        <li>maichanchinhls@gmail.com</li>
        <li>maichanchinhls@gmail.com</li>
        <li>maichanchinhls@gmail.com</li>
        <li>maichanchinhls@gmail.com</li>
        <li>maichanchinhls@gmail.com</li>
      </ul>

      <%= render 'form_assign_user' %>
    </div>

  </article>
</section>



