<!DOCTYPE html>
<html>
<head>
  <title>Teemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'default-admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="admin-container">
  <div class="top-menu">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Teemo</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#fakelink">Hello World</a></li>
          <li><a href="#fakelink">Sign out</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="admin-content">
    <div class="row">
      <div class="menu-left col-md-3">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success"><a href="#">Cras justo odio</a></li>
          <li class="list-group-item"><a href="#">Cras justo odio</a></li>
          <li class="list-group-item"><a href="#">Cras justo odio</a></li>
          <li class="list-group-item"><a href="#">Cras justo odio</a></li>
          <li class="list-group-item"><a href="#">Cras justo odio</a></li>
        </ul>
      </div>
      <div class="content-right col-md-9">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
