<!DOCTYPE html>
<html>
<head>
  <title><%= (@title.present?) ? (@title) : 'App tests'%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= flash_messages %>

  <%= yield %>
</div><!-- /container -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <% if user_signed_in? %>
            <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "btn btn-block btn-lg btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
